.bg-blue {
    background: var(--azul) repeat;
    color: var(--branco);
}

.text-blue {
    color: var(--azul);
}


.mapa {
    width: 100%;
    height: auto;
}

.login{
    background-color: var(--login);
}

.logo {
    width: 70%;
    height: auto;
}
.logo-wrapper {
    text-align: center;
}


.btn-white {
    background: var(--branco) !important;
    color: var(--azul) !important;
}

.header {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    padding: 1rem 15% !important;
    background: var(--azul) !important;
    backdrop-filter: blur(10px) !important;
    justify-content: space-between !important;
    align-items: center !important;
    z-index: 1000 !important;
}

.btn-primary {
    background-color: var(--azul) !important;
    border-color: var(--azul) !important;
}

.text-primary{
    color:var(--azul) !important;
}

.bg-primary {
    background-color: var(--azul) !important;
}